### Pandas Basics

In [1]:
import pandas as pd
import numpy as np

### Two primary Data structures:
    
- Series and Dataframes   
- built on top of numpy

In [2]:
values = np.linspace(0,20,15)

In [3]:
values # could also be a list

array([ 0.        ,  1.42857143,  2.85714286,  4.28571429,  5.71428571,
        7.14285714,  8.57142857, 10.        , 11.42857143, 12.85714286,
       14.28571429, 15.71428571, 17.14285714, 18.57142857, 20.        ])

In [4]:
#Series

import pandas as pd

In [5]:
S = pd.Series(values, name = "test_series")

In [6]:
S

0      0.000000
1      1.428571
2      2.857143
3      4.285714
4      5.714286
5      7.142857
6      8.571429
7     10.000000
8     11.428571
9     12.857143
10    14.285714
11    15.714286
12    17.142857
13    18.571429
14    20.000000
Name: test_series, dtype: float64

In [7]:
type(S)

pandas.core.series.Series

In [ ]:
Components of a Series:
    index
    values

In [8]:
S.index

RangeIndex(start=0, stop=15, step=1)

In [9]:
S.values

array([ 0.        ,  1.42857143,  2.85714286,  4.28571429,  5.71428571,
        7.14285714,  8.57142857, 10.        , 11.42857143, 12.85714286,
       14.28571429, 15.71428571, 17.14285714, 18.57142857, 20.        ])

# DataFrame

In [10]:
#Dataframe
temp_dict ={x:S for x in range(3)}

In [11]:
temp_dict.keys()

dict_keys([0, 1, 2])

In [ ]:
temp_dict.values()

In [13]:
df = pd.DataFrame(temp_dict)

In [ ]:
df

In [ ]:
#Parts of a dataframe
indices
columns
values

In [15]:
df.index

RangeIndex(start=0, stop=15, step=1)

In [16]:
df.columns

Int64Index([0, 1, 2], dtype='int64')

In [ ]:
df.values

In [20]:
#Let's change some of these parts
len(df.index)

15

In [22]:
new_indicies = [f'index_{i}' for i in range(len(df.index))]

In [ ]:
new_indicies

In [ ]:
new_indicies

In [24]:
df.index = new_indicies

In [25]:
df.head()

                0         1         2
index_0  0.000000  0.000000  0.000000
index_1  1.428571  1.428571  1.428571
index_2  2.857143  2.857143  2.857143
index_3  4.285714  4.285714  4.285714
index_4  5.714286  5.714286  5.714286

In [26]:
df.columns

Int64Index([0, 1, 2], dtype='int64')

In [27]:
df.columns = [f'column_{i}' for i in range(len(df.columns))]

In [28]:
df.head()

         column_0  column_1  column_2
index_0  0.000000  0.000000  0.000000
index_1  1.428571  1.428571  1.428571
index_2  2.857143  2.857143  2.857143
index_3  4.285714  4.285714  4.285714
index_4  5.714286  5.714286  5.714286